<%- include('../layout/head.ejs',{title:"User"}) %>
  <%- include('../layout/header.ejs',{account:"Admin"}) %>
    <%- include('../layout/sidebar.ejs') %>

      <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

        <div class="row">
          <ol class="breadcrumb">
            <li><a href="/admin/dashboard"><svg class="glyph stroked home">
                  <use xlink:href="#stroked-home"></use>
                </svg></a></li>
            <li class="active">Hồ sơ</li>
          </ol>
        </div><!--/.row-->

        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">Hồ sơ</h1>
          </div>
        </div><!--/.row-->
        



      </div>


      <%- include('../layout/footer.ejs') %>